
.col-4 {width: 33.33%; text-align: center; height: 100%;}
.col-5 {width: 41.66%; text-align: center; height: 100%;}
.col-8 {width: 66.66%; text-align: center;}

.col-10 {width: 83.33%; text-align: center;}
.col-11 {width: 91.66%; text-align: center;}
.col-12 {width: 100%; text-align: center;}

