@import '../../Styles/style.scss';


.sub-menus{
    box-shadow: $shadow;
    background: $header;
&-menu
{
   
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #F0EBEB;
    justify-content: space-between;
    color: $color-text;
    align-items: center;
}
&-menu:hover{
    background: $background;
    cursor: pointer;

}
&-menu:hover .icon-dropleft ul{
  display: block;

}
.icon-dropleft
{
    
    background: url('../../images/arrow-rightaa.jpg') no-repeat;
    padding: 5px;
    background-size:cover;
    display: inline-block;
    height: 5px;   
    position: relative;
    
    ul {
        width: 200px;
        position: absolute;
        top:0;
        z-index:1000;
        left: 100%;
        display: none;
    }
}

}


@media only screen and (max-width: 1200px)
{
	.sub-menus-menu
    {
        padding: 11px;
    }
} 
@media only screen and (max-width: 992px)
{
    .sub-menus-menu
    {
        padding: 9px;
        font-size: 13px;
    }
}