@import '../../Styles/style.scss';


.container
{
    @include container;
}
.offer-content
{
    @include offer-content;
	
    .left-content {
        bottom: 20px;
        left: 50px;
        padding: 10px ;
        position:absolute;
        text-align: center;
       
    }
}

.img{
    @include img;
}
@media only screen and (max-width: 992px)
{
    .offer-content
{
	
    .left-content {
        bottom: 15px;
        padding: 0px;
         line-height: 1.4;
    }
}   
   
}




@media only screen and(max-width: 576px){
    .offer-content
    {
        .img
        {
            height:74px;
        }
        .left-content{
            left: 30px;
        }
    }
}