@import "../../Styles/style.scss";

.search-section{
    background: #ff6d00;
    .container
    {
        @include container;
    }
    .row
    {
      @include row;
    }
    .heading-space
{
  padding: 40px 0;
}
}
.column-4
    {
        width: 40%;
     
    }
    .signup-head
    {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        h6{
            color: $header;
           
           }
    }
.column-6
    {
        width: 60%;
        color: $header;
    }

    .search {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        justify-content: flex-start;
        form {
          width: 100%;
        }
      
      .search-bar {
       
        width: 60%;
        height: 46px;
        border: 2px solid $header;
        background: #ff6d00;
      }
      ::placeholder {
        color:$header;
      }
    
      .search-btn{
      
        height: 46px;
        background: $header;
        border: none;
        color: #ff6d00;
        font-weight: bold;
        padding: 10px;
      }
    
    }    

    @media only screen and (max-width: 768px)
{

  .search-section{

    .row
    {
     flex-direction: column;
    }
    .heading-space
{
  padding: 20px 0;
}
}
.column-4,.column-6
{
  width: 100%;
}
.signup-head, .search
    {
      justify-content: flex-start;
      padding: 0px;
    }
   
}
